@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Game Planet</h1>
    <p class="lead">Our Videogame Store is currently in construction. Anyway you can see our videogames catalog in the Videogames Section.</p>
</div>
